.glass-card {
  background: rgba(0, 74, 151, 0.4);
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}

.btn-custom{
  color: white;
  background: #004a97;
  border-radius: 15px;
  margin: 5px;
}

.btn-custom1{
  color: white;
  background: green;
  border-radius: 15px;
  margin: 5px;
}

.btn-custom2{
  color:white;
  background: brown;
  border-radius: 15px;
  margin: 5px;
}