.formulario-peticion {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.input-custom {
  width: 100%;
  padding: 10px;
  border: 2px solid #004a97;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.btn-custom {
  background-color: #004a97;
  color: white;
  border-radius: 15px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.estado-texto {
  font-weight: bold;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 8px;
  display: inline-block;
}

.disponible {
  background-color: #28a745;
  color: white;
}