<div class="glass-card">
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Usuario</th>
                <th scope="col">Departamento</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            <th scope="row"></th>
        </tbody>
    </table>

</div>
<div style="margin: 20px;">
    <button class="btn btn-custom" (click)="crearPeticion()">CREAR</button>
    <button class="btn btn-custom1" (click)="modificarPeticion()">MODIFICAR</button>
    <button class="btn btn-custom2" (click)="borrarPeticion()">BORRAR</button>
</div>