.custom-navbar{
    background-color: #ffffff ;
}
.btn-custom{
    background-color: #004a97;
    color: #ffffff;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #004a97 !important;
}
