<form class="formulario-actualizar">

    <div class="campo-contenedor">
        <label for="titulo">Modificar Título</label>
        <input type="text" id="titulo" class="campo-editable" [(ngModel)]="datosticket.title" name="title">
    </div>

    <div class="campo-contenedor">
        <label for="descripcion">Modificar Descripción</label>
        <textarea id="descripcion" class="campo-editable" [(ngModel)]="datosticket.descripcion"
            name="descripcion"></textarea>
    </div>

    <div class="campo-contenedor">
        <label for="estado">Modificar Estado</label>
        
    </div>

    <div class="campo-contenedor">
        <label for="prioridad">Modificar Prioridad</label>
    </div>

    <div class="campo-contenedor">
        <label for="usuario-asignado">Modificar Usuario Asignado</label>    
    </div>

    <div class="campo-contenedor">
        <label for="equipo">Modificar Equipo Afectado</label>
    </div>

    <div class="campo-contenedor">
        <div class="encabezados campo-bloqueado">Fecha de Creación</div>
        <input type="text" class="campo-bloqueado-valor" [value]="datosticket.fecha_creacion" readonly>
    </div>

    <div class="campo-contenedor">
        <div class="encabezados campo-bloqueado">Fecha de Actualización</div>
        <input type="text" class="campo-bloqueado-valor" [value]="datosticket.fecha_actualizacion" readonly>
    </div>

    <button type="submit" class="btn-primary">Guardar Cambios del Ticket</button>
</form>