<form class="formulario-actualizar">

    <div class="campo-contenedor">
        <label for="titulo">Modificar Título</label>
        <input type="text" id="titulo" class="campo-editable" [(ngModel)]="datosticket.title" name="title">
    </div>

    <div class="campo-contenedor">
        <label for="descripcion">Modificar Descripción</label>
        <textarea id="descripcion" class="campo-editable" [(ngModel)]="datosticket.descripcion"
            name="descripcion"></textarea>
    </div>

    <!-- Estado -->
    <select [(ngModel)]="selectedStatusId" (change)="actualizarEstado()" name="statusId">
        <option *ngFor="let estado of estadosDisponibles" [value]="estado.id_status">
            {{ estado.nombre }}
        </option>
    </select>

    <!-- Prioridad -->
    <select [(ngModel)]="selectedPriorityId" (change)="actualizarPrioridad()" name="priorityId">
        <option *ngFor="let prioridad of prioridadesDisponibles" [value]="prioridad.id_priority">
            {{ prioridad.name }}
        </option>
    </select>

    <!-- Usuario asignado -->
    <select [(ngModel)]="selectedUsuarioId" (change)="actualizarUsuarioAsignado()" name="usuarioAsignadoId">
        <option *ngFor="let usuario of usuariosDisponibles" [value]="usuario.id_usuario">
            {{ usuario.nombre }}
        </option>
    </select>

    <!-- Equipo -->
    <select [(ngModel)]="selectedEquipoId" (change)="actualizarEquipoAfectado()" name="equipoId">
        <option *ngFor="let equipo of equiposDisponibles" [value]="equipo.id">
            {{ equipo.serial }}
        </option>
    </select>

    <div class="campo-contenedor">
        <div class="encabezados campo-bloqueado">Fecha de Creación</div>
        <input type="text" class="campo-bloqueado-valor" [value]="datosticket.fecha_creacion" readonly>
    </div>

    <div class="campo-contenedor">
        <div class="encabezados campo-bloqueado">Fecha de Actualización</div>
        <input type="text" class="campo-bloqueado-valor" [value]="datosticket.fecha_actualizacion" readonly>
    </div>

    <button type="submit" class="btn-primary">Guardar Cambios del Ticket</button>
</form>