<form (ngSubmit)="actualizarTicket()">
  <input type="text" [(ngModel)]="datosticket.title" name="title">
  <textarea [(ngModel)]="datosticket.descripcion" name="descripcion"></textarea>

  <input type="text" [(ngModel)]="datosticket.status" name="statusNombre">
  <input type="text" [(ngModel)]="datosticket.priority" name="priorityName">
  <input type="text" [(ngModel)]="datosticket.usuario_asignado" name="usuarioAsignadoNombre">
  <input type="text" [(ngModel)]="datosticket.equipoAfectado" name="equipoSerial">
  <input type="date" [(ngModel)]="datosticket.fecha_cierre" name="fechaCierre">

  <input type="text" [value]="datosticket.usuario_creador?.nombre" readonly>
  <input type="text" [value]="datosticket.fecha_creacion" readonly>
  <input type="text" [value]="datosticket.fecha_actualizacion" readonly>

  <button type="submit">Guardar</button>
</form>