<footer class="bg-custom text-light pt-4 pb-2">
  <div class="container">
    <div class="row">
      <div class="col"  style="text-align: center;">
        <h5 class="custom-letter-h5">Síguenos</h5>
      </div>
      <div class="col">
        <h5 class="custom-letter-h5">Enlaces</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">Servicio en Linea</a></li>
          <li><a href="#" class="text-light text-decoration-none">Sistema de Informacion Local</a></li>
          <li><a href="#" class="text-light text-decoration-none">Mision y Vision</a></li>
          <li><a href="#" class="text-light text-decoration-none">Noticias</a></li>
        </ul>
      </div>
      <div class="col">
        <h5 class="custom-letter-h5">Servicios Municipales</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">Trámites y Procesos</a></li>
          <li><a href="#" class="text-light text-decoration-none">Rendición de Cuentas</a></li>
          <li><a href="#" class="text-light text-decoration-none">Desarrollo y Ordenamiento Territorial</a></li>
          <li><a href="#" class="text-light text-decoration-none">Transparencia Institucional</a></li>
          <li><a href="#" class="text-light text-decoration-none">Gaceta Tributaria Municipal</a></li>
          <li><a href="#" class="text-light text-decoration-none">Límites Urbanos</a></li>
        </ul>
      </div>
    </div>
    <!--esta es otra division-->
    <div class="text-center">
      <small>&copy; 2025 Municipio de Machala. Todos los derechos reservados.</small>
    </div>
  </div>
</footer>
<!--aqui esta el fondo de la imagen de footer de manera repetitiva-->
<div class="repetir-footer">
</div>